<div class="ss-form">
  <script type="text/javascript">var submitted=false;</script>
  <iframe name="hidden_iframe" id="hidden_iframe"  style="display:none;" onload="if(submitted) {window.location='<%= raw redirect_url %>';}"></iframe>
  <form action="https://docs.google.com/forms/d/1YwwOURpS2aj2s13MxydO02GxvYJrlKpEkVTpMdBkcPY/formResponse?embedded=true" method="post"
  target="hidden_iframe" onsubmit="submitted=true;">

  <ol style="padding-left: 0">
  <div class="ss-form-question errorbox-good">
  <div dir="ltr" class="ss-item ss-item-required ss-checkbox"><div class="ss-form-entry"><label class="ss-q-item-label" for="entry_1908257698"><div class="ss-q-title">Questions
  <label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
  <span class="ss-required-asterisk">*</span></div>
  <div class="ss-q-help ss-secondary-text" dir="ltr">helper test</div></label>

  <ul class="ss-choices ss-choices-required error"><li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.509060995" value="Yes" id="group_509060995_1" class="ss-q-checkbox valid"></span>
  <span class="ss-choice-label">Yes</span>
  </label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.509060995" value="No" id="group_509060995_2" class="ss-q-checkbox"></span>
  <span class="ss-choice-label">No</span>
  </label></li></ul>
  <div class="error-message">Must select at least 1 options.</div>
  <div class="required-message">This is a required question</div>
  </div></div></div> <div class="ss-form-question errorbox-good">
  <div dir="ltr" class="ss-item  ss-text"><div class="ss-form-entry"><label class="ss-q-item-label" for="entry_1018956"><div class="ss-q-title">TExbox?
  </div>
  <div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>
  <input type="text" name="entry.1018956" value="" class="ss-q-short" id="entry_1018956" dir="auto" title="">
  <div class="error-message"></div>
  <div class="required-message">This is a required question</div>

  </div></div></div> <div class="ss-form-question errorbox-good">
  <div dir="ltr" class="ss-item  ss-radio"><div class="ss-form-entry"><label class="ss-q-item-label" for="entry_260491883"><div class="ss-q-title">Radio
  </div>
  <div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>

  <ul class="ss-choices"><li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.713632875" value="Option 1" id="group_713632875_1" class="ss-q-radio" aria-label="Option 1"></span>
  <span class="ss-choice-label">Option 1</span>
  </label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.713632875" value="Option 2" id="group_713632875_2" class="ss-q-radio" aria-label="Option 2"></span>
  <span class="ss-choice-label">Option 2</span>
  </label></li></ul>
  <div class="error-message"></div>
  <div class="required-message">This is a required question</div>
  </div></div></div> <div class="ss-form-question errorbox-good">
  <div dir="ltr" class="ss-item  ss-paragraph-text"><div class="ss-form-entry"><label class="ss-q-item-label" for="entry_20312440"><div class="ss-q-title">Paragraph
  </div>
  <div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>
  <textarea name="entry.20312440" rows="8" cols="0" class="ss-q-long" id="entry_20312440" dir="auto"></textarea>
  <div class="error-message"></div>
  <div class="required-message">This is a required question</div>

  </div></div></div> <div class="ss-form-question errorbox-good">
  <div dir="ltr" class="ss-item  ss-select"><div class="ss-form-entry"><label class="ss-q-item-label" for="entry_185705677"><div class="ss-q-title">List OPtions
  </div>
  <div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>
  <select name="entry.185705677" id="entry_185705677"><option value=""></option>
  <option value="Option 1">Option 1</option> <option value="Option 2">Option 2</option> <option value="Option 3">Option 3</option></select>
  <div class="required-message">This is a required question</div>
  </div></div></div> <div class="ss-form-question errorbox-good">
  <div dir="ltr" class="hidden ss-item ss-item-required ss-text"><div class="ss-form-entry"><label class="ss-q-item-label" for="entry_1522731354"><div class="ss-q-title">Player Name
  <label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
  <span class="ss-required-asterisk">*</span></div>
  <div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>
  <input type="hidden" name="entry.1522731354" value="<%= current_user.player_name %>" class="ss-q-short" id="entry_1522731354" dir="auto" aria-required="true" required="" title="">

  <div class="error-message"></div>
  <div class="required-message">This is a required question</div>

  </div></div></div> <div class="ss-form-question errorbox-good">
  <div dir="ltr" class="ss-item  ss-scale"><div class="ss-form-entry"><label class="ss-q-item-label" for="entry_1277163208"><div class="ss-q-title">
  </div>
  <div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>

  <table border="0" cellpadding="5" cellspacing="0" id="entry_1858527920"><tbody><tr aria-hidden="true" class="aria-todo"><td class="ss-scalenumbers"></td>
  <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_1858527920_1">1</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_1858527920_2">2</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_1858527920_3">3</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_1858527920_4">4</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_1858527920_5">5</label></td>
  <td class="ss-scalenumbers"></td></tr>
  <tr><td class="ss-scalerow ss-leftlabel"><div aria-hidden="true" class="aria-todo"></div>
  <div class="aria-only-help">Select a value from a range of 1 to 5.</div></td>
  <td class="ss-scalerow"><div class="ss-scalerow-fieldcell"><input type="radio" name="entry.1858527920" value="1" id="group_1858527920_1" class="ss-q-radio" aria-label="1"></div></td> <td class="ss-scalerow"><div class="ss-scalerow-fieldcell"><input type="radio" name="entry.1858527920" value="2" id="group_1858527920_2" class="ss-q-radio" aria-label="2"></div></td> <td class="ss-scalerow"><div class="ss-scalerow-fieldcell"><input type="radio" name="entry.1858527920" value="3" id="group_1858527920_3" class="ss-q-radio" aria-label="3"></div></td> <td class="ss-scalerow"><div class="ss-scalerow-fieldcell"><input type="radio" name="entry.1858527920" value="4" id="group_1858527920_4" class="ss-q-radio" aria-label="4"></div></td> <td class="ss-scalerow"><div class="ss-scalerow-fieldcell"><input type="radio" name="entry.1858527920" value="5" id="group_1858527920_5" class="ss-q-radio" aria-label="5"></div></td>
  <td class="ss-scalerow ss-rightlabel aria-todo" aria-hidden="true"></td></tr></tbody></table>
  <div class="required-message">This is a required question</div>
  </div></div></div>
  <input type="hidden" name="draftResponse" value="[]
  ">
  <input type="hidden" name="pageHistory" value="0">


  <div class="ss-item ss-navigate"><table id="navigation-table"><tbody><tr><td class="ss-form-entry goog-inline-block" id="navigation-buttons" dir="ltr">
  <input type="submit" name="submit" value="Submit" id="ss-submit"></td>
  </tr></tbody></table></div></ol>

  </form>
</div>