<div class="main_content">
  <div class="mc_header">
      <h1>Play the Full Game!</h1>
  </div>

  <div id="downloads" class="abscenter">

    <%= image_tag "fairplay.png", id: "logo" ,class: "center" %>
    <ul class="bias_buttons center">
      <li>
        <%= link_to  'assets/full.unity3d' do %>
          <span>Windows</span>
        <%end%>
      </li>
      <li>
        <%= link_to  'assets/full.unity3d' do %>
          <span>Mac</span>
        <%end%>
      </li>
    </ul>
  </div>


</div>