<%= render "unity", game: 'Fairplay' + @version %>

<div class="main_content">
  <div class="mc_header">
      <h1>Fairplay</h1>
  </div>
  <div class="login_container">
    <div id="unityPlayer">
      <div class="missing">
        <a href="http://unity3d.com/webplayer/" title="Unity Web Player. Install now!">
          <img alt="Unity Web Player. Install now!" src="http://webplayer.unity3d.com/installation/getunity.png" width="193" height="63" />
        </a>
      </div>
    </div>

    <div id="player_buttons">
      <% if current_user.post %>
        <span class="bias_button">
          <%= link_to "Full Download", complete_path %>
        </span>
      <% else %>
        <span class="bias_button">
          <%= link_to "Completed", complete_path %>
        </span>
      <% end %>
    </div>
  </div>
</div>