<%= render "unity", game: 'Fairplay' + @version %>

<div class="main_content">
  <div class="mc_header">
      <h1>Fairplay</h1>
  </div>
  <div class="login_container">
    <div id="unityPlayer">
      <div class="missing">
        <a href="http://unity3d.com/webplayer/" title="Unity Web Player. Install now!">
          <img alt="Unity Web Player. Install now!" src="http://webplayer.unity3d.com/installation/getunity.png" width="193" height="63" />
        </a>
      </div>
    </div>

    <ul class="bias_buttons center">
    <li>
    <% if current_user.post %>
      <%= link_to postiat_path do %>
        <span >Full Download</span>
      <% end %>
    <% else %>
      <%= link_to postiat_path do %>
        <span >Completed</span>
      <% end %>
    <% end %>
    </li>
    </ul>
  </div>
</div>