<div class="large_pathfinder_logo"></div>

<hr>

<% if flash[:notice] %>
  <div class="error_container center">
    <div class= "error_box center ">
      <div class="error_img"></div>
      <span id="notice"><%= flash[:notice] %></span>
    </div>
  </div>
<% end %>
<div class="login_container">
  <div id="account">
      <div class="center">
    <% if user_signed_in? %>
      <span class="orange bold"><%= current_user.player_name %></span>
      <%= link_to main_app.logout_path, :method => :delete do %>
        <span class="link_button">Log Out</span>
      <% end %>
    <% else %>
      <% if !current_user %>
        <%= link_to main_app.login_path do %>
          <span class="link_button">Sign in</span>
        <% end %>
      <% end %>
    <% end %>
  </div>
  </div>
</div>
